<a href="https://colab.research.google.com/github/Shu123deep/datasciencecoursera/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [2]:
print("Python version")

Python version

In [3]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]
Version info.
sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)

In [4]:
print (sys.version)

3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]

In [5]:
import sys
print (sys.version)

3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]

In [6]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2020-11-01 13:22:36

In [18]:
from math import pi
r = int (input ("input the radius :"))
Area = pi*r*r
print ("Area is " + str(Area))

input the radius :12
Area is 452.3893421169302

In [21]:
F = str (input ("input your first name :"))
L = str (input ("input your last name :"))
print (L + " " + F)

input your first name :Shubhendu
input your last name :Karmakar
Karmakar Shubhendu

In [35]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: table.txt
The extension of the file is : 'txt'

In [36]:
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

In [1]:
exam_st_date = (11,12,2014)
print( "The examination will start from : %i / %i / %i"%exam_st_date)

The examination will start from : 11 / 12 / 2014

In [15]:
import math
n = int (input ("input an integer :"))
R = n*n
S = n*n*n
T = (n + R + S)
print (T)

input an integer :5
155

In [14]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 5
615